* h3{
	font-family: 'Lora', serif;
}
* p{
	font-family: 'Arimo', sans-serif;
}

.title {
	font-family: 'Lora', serif;
	text-align: center;
}
.p1{
	padding-top: 50px;
	padding-left: 30px;
}
.address{
	padding-top: 30px;
	padding-left: 30px;
}
.career{
	padding-top: 30px;
	padding-left: 30px;
}
.skills{
	padding-top: 30px;
	padding-left: 30px;
}
.linkmg{
	padding-left: 30px;
	padding-top: 30px;
}
.Click h2{
	position: absolute;
	left: 45%;
	top: 100%;
}
hr{
	height: 2px;
	background-color: black;
}